.row.inner.edge
  .col-md-9.layout-main
    %span.main-title.icon.icon-tasks
      %span.main-title
        最新任务
    %p.line
    .task-list#itask-list
      = render partial: 'itasks'

  .sidebar.col-md-3.layout-secondary.hidden-xs.hidden-sm

