.row.inner.edge
  .col-md-9.layout-main
    %span.main-title.icon.icon-th-list
      %span.main-title
        类别广场
    %p.line
    .category-list#category-list
      = render partial: 'categories'

  .sidebar.col-md-3.layout-secondary.hidden-xs.hidden-sm

